in
LAB2/dmemresult.txt
LAB2/stateresult.txt
LAB2/RFresult.txt
LAB2/tempCodeRunnerFile.cpp
LAB3/branchsimulator.exe
LAB3/branchsimulator_skeleton.exe
LAB3/trace.txt.out

/LAB4/cachesimulator.exe
LAB4/trace.txt.out
